#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.restore-75 {
  transform: scale(0.75);
  transform-origin: top left;
  width: calc(100% / 0.75);
  height: calc(100% / 0.75);
  overflow: visible;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* disable horizontal scroll globally */
}
